.nav-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .nav-right {
        display: flex;
        align-items: center;

        .nav-search {
            display: flex;
            flex-grow: 1;
            align-items: center;
            input {

            }
        }

        .nav-options {
            justify-content: space-around;
            align-items: center;
        }
    }
}